@use "./variables.scss";
.about {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  height: 40%;
  position: absolute;
  // bottom: 0;
  // margin: 50px 0;

  .content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    p {
      font-weight: 500;
      color: variables.$Dark-Gray;
    }
  }

  .img1,
  .img2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .img1 {
    background-image: url("../images/image-about-dark.jpg");
  }
  .img2 {
    background-image: url("../images/image-about-light.jpg");
  }
}

@media screen and (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column;
    height: 920px;
  }
  .img1,
  .img2 {
    height: 360px;
  }
}
