.mobileMenu {
  .hamburger {
    display: none;
  }

  .hideMenu {
    transform: scale(0);

    animation: 0.1s hideMenu;
  }

  .hideMenu,
  .showMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;

    width: 100vw;
    height: 80px;

    position: absolute;
    top: -50px;
    left: -50px;

    background-color: white;
    box-shadow: 10px -9px 0px 200vh rgba(129, 129, 129, 0.75);
  }

  .showMenu {
    nav {
      a {
        color: #000000;
      }
      a::after {
        background-color: #000000;
      }
    }
    .close {
      cursor: pointer;
    }

    transform: scaleY(1);
    transform-origin: left;

    animation: 0.1s showMenu;
  }

  @media screen and (max-width: 980px) {
    .hamburger {
      cursor: pointer;
      display: block;
      width: min-content;
    }
  }
}

@keyframes showMenu {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes hideMenu {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}
