.slider {
  width: fit-content;

  button {
    transition: 0.2s ease-in-out;

    background-color: #000000;

    border: unset;
    cursor: pointer;

    width: 60px;
    height: 60px;

    &:hover {
      transition: 0.1s ease-in-out;
      background-color: #161616;
    }
  }
}
@media screen and (max-width: 700px) {
  .slider {
    position: relative;
    top: -40px;
    z-index: 2;

    align-self: flex-end;
    justify-self: flex-end;
    vertical-align: top;
  }
}
